body {
    margin: 100px;
    background-color: rgb(0, 60, 255);
    display: flex;
    justify-content: center;
}

.container {
    text-align: center ;
    background-color: rgb(221, 230, 243);
    padding: 50px;
    border-radius: 15px;
    color: rgb(65, 65, 65);
}

button {
    background-color: #008cff8f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}